@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&family=Cookie&family=Lato:wght@300;400;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


nav{
    background-color: #fac32a; 
}


#navbarSupportedContent ul li{
    padding-right: 30px;
}

#navbarSupportedContent ul li a{
    color: white;
    font-size: 1.1rem;
} 

#navbarSupportedContent ul .dropdown-menu{
    background-color: #fac32a;
    margin-top: 16px;
}

#navbarSupportedContent ul .dropdown-menu .dropdown-item:hover{
    background-color: #0000; 
}

#navbarSupportedContent ul li a:hover{
    color: black;
}

.floating-social{
    top: 25vh;
    left: 0px;
    position: fixed;
    background-color: #ffc21c;
    padding: 5px;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 3px 2px 4px 0;
}

.floating-social a{
    text-decoration: none;
    color: black;
}

.floating-social a:hover{
    text-decoration: none;
    color: white;
}

.floating-avail{
    top: 65vh;
    right: 0px;
    position: fixed;
    background-color: #f7b80d;
    padding: 5px;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.floating-avail button{
    border-radius: 15px;
    padding: 3px 3px;
    margin: 2px;
    width: 90px;
}

.coverImg{
    background: url('https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?cs=srgb&dl=pexels-ella-olsson-1640770.jpg&fm=jpg');
    background-size: cover;
    height: 600px;
}



.scrollBtn img{
    max-width: unset;
    max-height: 29px;
    margin-top: -49px;
    z-index: 1;
    position: relative;
}

#about{
    prefix: 3;
    background-color: white;
    font-size: 1.1rem;
    margin-top: -30px;
}

#about .leftSideBar{
    margin-top: 3.2rem;
}

#about .rightSideBar h2{
    font-family: 'Cookie', cursive;
    font-weight: 700;
    line-height: 1;
    color:#7e8133;
    font-size: 3.8rem;
    text-transform: capitalize;
}

#about .rightSideBar{
    margin-top: 4rem;
}

#about .rightSideBar p{
    padding: 30px;
}



#brand{
    margin-top: 60px;
    prefix: 3;
    /* border: 1px solid saddlebrown; */
    font-size: 1.7rem;
    text-transform: capitalize;

}

#brand h2{
    font-family: 'Cookie', cursive;
    font-weight: 700;
    color: #ffc21c;
    font-size: 3.8rem;
    text-transform: capitalize;
}  

.bg1{
    background-color: #f7b80d;
}

.bg2{
    background-color: #7e8133;
}

#highlight{
    margin-top: -21px;
    prefix: 3;
    font-size: 1.1rem;
    color: white;
    background-color: #7e8133;
}

#highlight p{
    margin-top: 20px;
}

#highlight h2{
    font-family: 'Cookie', cursive;
    font-weight: 700;
    color: white;
    font-size: 3.8rem;
    text-transform: capitalize;
}

.highlightItems{
    margin-top: 20px;
}

.highlightItem{
    margin: 50px;
    text-align:center;
}

.midHeader{
    font-weight: 900;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.gallery{
    background-color: white;
}

.gallery h2{
    font-family: 'Cookie', cursive;
    font-weight: 700;
    color:#7e8133;
    font-size: 3.8rem;
    text-transform: capitalize;
}

.reviews{
    background-image: url('https://olafoods.co/img/brands/bowlsome/testimonials-bg.jpg');
    background-size: contain;
}

.reviews h1{
    color: white;
}

.reviews h2{
    font-family: 'Cookie', cursive;
    font-weight: 700;
    color: white;
    font-size: 4.1rem;
    text-transform: capitalize;
    color: white;
}

.prev-btn{
    background-color: #f7b80d;
    width: 40px;
    padding: 2px;
    border-radius: 5px;
}

.next-btn{
    background-color: #f7b80d;
    width: 40px;
    padding: 2px;
    border-radius: 5px;

}





.img-fluid{
    max-width: 100%;
    height: auto;
}

footer{
    background-color: #f7b80d;
}

footer a{
    text-decoration: none;
}

footer i{
    color: black;
    padding: 10px;
}

.fab{
    font-size: 27px;
}

